.btn {
  background-color: var(--brand-color);
  color: var(--dark-10);
  padding: 1rem 4rem;
  border: 1px solid var(--dark-10);
  border-radius: 0.4rem;
  font-size: 1.6rem;
  font-family: var(--ff);
}

.btn:hover {
  background-color: var(--dark-10);
  color: var(--brand-color);
  cursor: pointer;
  border: 1px solid var(--brand-color);
}

.btn-2 {
  background-color: var(--dark-10);
  color: var(--brand-color);
  padding: 1rem 4rem;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  font-family: var(--ff);
  border: 1px solid var(--brand-color);
}

.btn-2:hover {
  background-color: var(--brand-color);
  color: var(--dark-10);
  cursor: pointer;
}
